.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    list-style: none;
    align-items: center;
    height: 4.8rem;
    margin: 2.1rem 1rem 2.1rem 1rem;
    font-size: 1.3rem;
  }
  
   .profile-pic {
    display: flex;
    flex-wrap: wrap;
    margin: 0.8rem;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    background-color: green;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: white;
  }
  /* Header Properties */
  
  .profile-pic:hover {
    box-shadow: 0px 0px 0px 0.4rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  /* 
  @media (max-width: 1000)
  centrar logo usuario
  */
   
  