footer {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    margin-top: 1.5rem;
  }
  
  .footer {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 1.8rem;
    color: var(--text-color);
    font-size: 1.5rem;
    color: var(--footer-text-color);
  }
  
  .preferences {
    width: 49vw;
  }
  
  .about {
    width: 50vw;
  }
  
  .footer.top {
    display: block;
    padding: 2.5rem 0.5rem;
    border-bottom: 1px solid #dadce0;
    background-color: var(--footer-color);
  }
  
  .footer.bottom {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: var(--footer-color);
    height: max-content;
  }
  
  .location {

    padding: 0 2.5rem;
    color: whitesmoke;
    font-weight:bold;
    
    
 }
  
  .about-bar {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 2rem;
    justify-content: left;
    background-color: var(--footer-color);
  }
  
  .preferences-bar {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 2rem;
    justify-content: right;
    background-color: var(--footer-color);
    
  }
  
  .itema {
    padding: 0 1.5rem;
    color: grey;
  }
  
  .itema:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    footer {
      flex-direction: column;
      background-color: black;
    }
    .footer.top {
      border-bottom:none;
      margin-top: 2rem; 
    }
    .about-bar, .preferences-bar {
      flex-direction: column;
    }
    .itema {
      margin-top: 0.5rem;
    }
  }

  @media (max-width: 600px) {
    footer {
      display:none;
    }
  }

  /*@media (max-width: 1000px) {

    .footer {
    display: flex;
    flex-direction
    flex-flow: row nowrap;
    width: 100vw;
    height: 1.8rem;
    align on the center or fussionate

  }
 
  .footer.top {

     border-bottom: 1px solid #dadce0;
     eliminate border bottom
  }

  .footer.bottom {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: var(--footer-color);
    height: max-content;
    change display

  }
  
   
  
  */